<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Flask Contact Page</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<p>This website was not intended to sell whatever is associated with Productive Muslim.<br>Message to Abu Productive: <br> Assalauma'aleikum brother! I didn't know that this domain name was very much similar to <a href="productivemuslim.com" title="Productive Muslim">productivemuslim.com</a><br>.</p>
	<p>We're planning to use this website to host translations of your articles (in Russian), InshAllah.</p>
</body>
</html>